<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register Student</title>
    <link rel="stylesheet" href="/static/form.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body class="bg-dark">
    <div class="card">
        <div class="card-body car">
            <h1 class="card-title">{{message}}</h1>
        </div>
    </div>
    <center>
        <div class="container2">
            <a class="btn btn-success" href="/" role="button">Goto Home Page</a>
            <div>
    </center>
</body>

</html>